.days{
display: flex;
flex-direction: row;
width: 100%;
/* background-image: url('https://img.collegepravesh.com/2017/08/RGIPT-Amethi.jpg');
background-repeat: no-repeat;
background-size: cover; */
}
.d{
    margin-right: 15px;
}